h1 {
    text-align: center;
    padding-bottom: 25px;
    margin-right: 40px
}

h2 {
    padding-top: 25px;
}

nav {
   padding-top: 15px;
   padding-bottom: 15px;
}

.nav-link, .nav-item {
  padding-right: 45px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.img-thumbnail {
    height:160px;
    width:180px;
    float:left;
    margin-right:20px;
}

.social {
    height: 50px;
    width: 50px;
}
.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #D3D3D3	;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    /* background: #4aaaa5; */
    background: black	;
    border: 0 none;
  }

footer {
    text-align: center;
}